<h2 align='center'>Upload new file</h2>
<%= form_for :attachment, url: attachments_path do |f| %>
  <p align='center'><%= f.file_field :file %>
  <%= f.submit %></p>
<% end %>

<p align="center"><%= link_to 'View All Files', attachments_path %></p>

