// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Form {
    text-align: center;
    font-family: "Arial", Sans-serif;
}

.errors {
	color: #990000;
}

h2 {
    text-align: center;
    color: #0079A3;
    font-family: "Arial", Sans-serif;
    font-size: 30px
}